HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.mvn
application.properties
logs

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### FrontEnd ###
web/node_modules
web/package-lock.json
web/.npmrc
web/.DS_Store
web/dist

web/tests/e2e/videos/
web/tests/e2e/screenshots/

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*