.app-title {
    width: 220px;
    text-align: center;
}

.cfs_fullscreen > button,
.cfs_profile > span > span {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #bfbfbf;
    background: #ffffff;
    color: #404040;
}

.cfs_fullscreen {
    line-height: normal;
}

.cfs_profile {
    line-height: normal;
}

.header-search > input[type="text"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 220px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #bfbfbf;
    background: #ffffff;
    color: #404040;
}

.app-header {
    background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    position: relative;
    z-index: 999;
}

.app-header > div {
    height: 49px;
}

